<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoodMovies.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C2A25C3C1D81461800936BFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2A25C631D814C8500936BFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2DE13161D5DC88B00698C12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
